* {
    margin: 0;
    padding: 0;
}

html, body {
    width: auto;
    height: 100%;
    background-color: red;
    display: flex;

}

ul,li {
    list-style: none;
}

input::placeholder {
    color: red;
    font-size: 14px;
    font-style: italic;
}