/* 对于使用 import引入进来的css, 会在生成的html页面上新增一个style*/
/* @import './inputplaceholder.css'; */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: auto;
    height: 100%;
    background-color: red;
    display: flex;
}

body {
    background: url('../assets/ljy.jpg') no-repeat;
    background-size: auto;
}

ul,li {
    list-style: none;
}

/* 此处的::placeholder经过postcssloader和autoprefix插件后, 会自动加上浏览器前缀 */
input::placeholder {
    color: red;
    font-size: 14px;
    font-style: italic;
}
